# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Gradle / Android
.gradle/
build/
local.properties
.kotlin/
*.iml
.idea/
.android/
captures/

# Server data
server/data/
*.db
